<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs')%>
  <body
    class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="wrapper">
      <!-- Preloader -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__wobble"
          src="/dist/img/AdminLTELogo.png"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div>

      <!-- Navbar -->
      <%- include('../layout/navBar.ejs')%>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../layout/sidebar.ejs')%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="card-body p-0">
              <% if(users && users.length > 0){ %>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th>STATUS</th>
                    <th style="width: 40px">Image</th>
                  </tr>
                </thead>
                <% let id=0 %>
                <tbody>
                  <% for(let user of users){ %>
                  <tr class="">
                    <td><%= ++id %></td>
                    <td><%= user?.name %></td>
                    <td>
                      <div class=""><%= user?.email%></div>
                    </td>
                    <td><%= user?.phone ? user?.phone : 'xxxxxxxxxx' %></td>
                    <td>
                      <div
                        class="spinner-border hideSpinner <%= user?._id %>"
                        id="loader"
                        role="status"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                      <% if(user?.isActive){ %>
                      <a
                        id="<%= user?._id %>"
                        class="bg-danger text-center btn text-xs"
                      >
                       To Disable
                      </a>
                      <% } %> <% if(!user?.isActive){%>
                      <a
                        id="<%= user?._id %>"
                        class="bg-success text-center btn text-xs"
                      >
                       To Active
                      </a>
                      <% } %>
                    </td>
                    <td>
                      <img
                        class="img-fluid rounded-lg"
                        src="<%= user?.avatar %>"
                        alt="poster"
                      />
                    </td>
                  </tr>
                  <script>
                    $(document).ready(function () {
                      $("#<%= user._id %>").on("click", function (element) {
                        $(".<%= user._id %>").addClass("showSpinner");
                        $("#<%= user._id %>").hide();
                        $.ajax({
                          url: "/admin/activate-user/<%= user._id %>",
                          method: "GET",
                          success: function ({ data }) {
                            $(".<%= user._id %>").removeClass("showSpinner");
                            $("#<%= user._id %>").show();
                            location.reload();
                            if (data.isActive) {
                              // element.currentTarget.className =
                              //   "bg-danger text-center btn text-xs";
                              // element.currentTarget.innerText = "Disable";
                            } else {
                              // element.currentTarget.className =
                              //   "bg-success text-center btn text-xs";
                              // element.currentTarget.innerText = "Active";
                            }
                          },
                          error: function (error) {
                            $(".<%= user._id %>").removeClass("showSpinner");
                            $("#<%= user._id %>").show();
                            console.log(error);
                          },
                        });
                      });
                    });
                  </script>
                  <% } %>
                </tbody>
              </table>

              <% }else{ %>
              <h3
                class="d-flex justify-content-center align-content-center my-2 py-2"
              >
                No data found!
              </h3>
              <% } %>
            </div>
          </div>
          <!--/. container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <%- include('../layout/footer.ejs')%>
    </div>
  </body>
</html>
